<div class="relative pb-24 md:pb-14 w-full h-full cursor-pointer">
  <!-- medium -->
  @if(show.thumbnail.regular.large){
  <img
    [src]="show.thumbnail.regular.medium"
    alt=""
    class="hidden lg:hidden md:block peer w-full h-full rounded-lg opacity-70 hover:opacity-30"
  />

  <img
    [src]="show.thumbnail.regular.small"
    alt=""
    class="md:hidden w-full peer h-full rounded-lg opacity-70 hover:opacity-30"
  />

  <!-- large -->
  <img
    [src]="show.thumbnail.regular.large"
    alt=""
    class="hidden lg:block w-full peer h-full rounded-lg opacity-70 hover:opacity-30"
  />
  }

  <div class="bookmark absolute top-3 right-4">
    <svg
      [ngClass]="{
        'bg-opacity-40 text-white': !show.isBookmarked,
        'lg:w-9 lg:h-9 w-7 h-7  bg-black hover:bg-white hover:text-black p-1 rounded-full ': true,
        'bg-white text-black': show.isBookmarked
      }"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="m17 21-5-4-5 4V3.9c0-.2 0-.5.2-.6l.6-.3h8.4c.2 0 .4 0 .6.3l.2.6V21Z"
      />
    </svg>
  </div>

  <div class="details mt-2">
    <ul class="flex gap-5 lg:gap-6 list-disc text-gray-300 text-sm font-[200]">
      <li class="list-none lg:text-sm text-[0.75rem]">{{ show.year }}</li>
      <li>
        <div class="flex gap-1">
          <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.173 0H1.827A1.827 1.827 0 0 0 0 1.827v8.346C0 11.183.818 12 1.827 12h8.346A1.827 1.827 0 0 0 12 10.173V1.827A1.827 1.827 0 0 0 10.173 0ZM2.4 5.4H1.2V4.2h1.2v1.2ZM1.2 6.6h1.2v1.2H1.2V6.6Zm9.6-1.2H9.6V4.2h1.2v1.2ZM9.6 6.6h1.2v1.2H9.6V6.6Zm1.2-4.956V2.4H9.6V1.2h.756a.444.444 0 0 1 .444.444ZM1.644 1.2H2.4v1.2H1.2v-.756a.444.444 0 0 1 .444-.444ZM1.2 10.356V9.6h1.2v1.2h-.756a.444.444 0 0 1-.444-.444Zm9.6 0a.444.444 0 0 1-.444.444H9.6V9.6h1.2v.756Z"
              fill="#FFF"
              opacity=".75"
              class=""
            />
          </svg>
          <span class="lg:text-sm text-[0.75rem] -mt-1">{{
            show.category
          }}</span>
        </div>
      </li>
      <li class="lg:text-sm text-[0.75rem]">{{ show.rating }}</li>
    </ul>
    <p class="text-white text-lg">{{ show.title }}</p>
  </div>

  <div
    class="hover-play hidden p-2 md:p-3 bg-white bg-opacity-20 rounded-full hover:flex peer-hover:flex gap-2 absolute top-[25%] left-[30%] md:top-[30%] md:left-[35%]"
  >
    <img src="../../../assets/icon-play.svg" alt="" class="" />
    <p class="text-white">Play</p>
  </div>
</div>
