<main>
    <img src="../../../../assets/logo.svg" alt="" class="ml-auto mr-auto mt-16" />
  
    <div
      class="sign-in-cont my-16 mx-8 md:w-[530px] md:ml-auto md:mr-auto p-6 rounded-lg bg-dark-blue text-[2.2rem] font-[200]"
    >
      <p class="text-white">Sign Up</p>
  
      <form class="mt-6" [formGroup]="registerForm" >
        <input
          type="email"
          formControlName="email"
          placeholder="Email address"
          class="w-full h-10 text-[1.15rem] px-4 pb-5 bg-transparent border-b text-white border-b-dark-gray focus:outline-none caret-active-red focus:border-b-white"
        />
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="w-full h-10 text-[1.15rem] mt-8 px-4 pb-5 bg-transparent border-b text-white border-b-dark-gray focus:outline-none caret-active-red focus:border-b-white"
        />
        <input
        type="password"
        formControlName="confirmPassword"
        placeholder="Repeat Password"
        class="w-full h-10 text-[1.15rem] mt-8 px-4 pb-5 bg-transparent border-b text-white border-b-dark-gray focus:outline-none caret-active-red focus:border-b-white"
      />
  
        <button
        type="submit"
        [disabled]="registerForm.invalid"
          class="w-full text-[1rem] rounded-md bg-active-red py-3 mt-12 text-white disabled:opacity-40 disabled:cursor-not-allowed"
        >
          Create an account
        </button>
  
        <p class="text-[1.1rem] text-center text-white mt-6">
          Already have an account?
          <a href="">
            <span class="text-active-red cursor-pointer">Login</span>
          </a>
        </p>
      </form>
    </div>
  </main>
  